#header-wrapper {
  margin-top: 5px;
  display: table;
  width: 100%;
}
#header-wrapper div {
  display: table-cell;
  width: 30%;
  padding: 0px 25px 0px 25px;
}
#header-wrapper h2 {
  display: table-cell;
  width: 40%;
  padding: 0px 25px 0px 25px;
}
#header-title {
  text-align: center;
}
#save-csv-btn {
  float: left;
}
#help-btn {
  float: right;
}
.popover {
  max-width: 400px !important;
}
.popover .popover-content {
  max-width: 400px !important;
}
.help-article {
  max-height: 500px !important;
  overflow-y: scroll;
}
.help-article table {
  text-align: center !important;
}
.help-article table th {
  text-align: center !important;
}
.glycopeptide-identifier {
  font-size: 0.8em !important;
  white-space: normal !important;
  word-wrap: break-word;
  word-break: break-all;
}
.fragment-ion-tag {
  background-color: lightgrey;
  border-radius: 3px;
  font-size: 9.5px;
  margin-bottom: 1px;
  margin-top: 1px;
}
#results-table {
  width: auto;
  margin: auto;
}
#results-table tbody {
  display: block;
  max-height: 500px;
  min-height: 300px;
  overflow: auto;
}
#results-table thead,
#results-table tbody tr {
  display: table;
}
#results-table td {
  min-width: 140px !important;
  max-width: 140px !important;
  font-size: 0.8em;
}
#results-table td.narrow {
  min-width: 90px !important;
  max-width: 90px !important;
}
#results-table td.wide {
  min-width: 300px !important;
  max-width: 300px !important;
}
#results-table th {
  font-size: 0.85em;
  min-width: 140px !important;
  max-width: 140px !important;
}
#results-table th.wide {
  min-width: 300px !important;
  max-width: 300px !important;
}
#results-table th.narrow {
  min-width: 90px !important;
  max-width: 90px !important;
}
.cX {
  background-color: inherit;
}
.c0 {
  background-color: #ffedcc;
}
.c1 {
  background-color: #b3e0f2;
}
.c2 {
  background-color: #b3ffb3;
}
.c3 {
  background-color: #ffffcc;
}
.c4 {
  background-color: #ffe5e5;
}
.c5 {
  background-color: #fadcfa;
}
#grid-controls {
  display: table;
  width: 100%;
}
#filtrex-control {
  padding: 25px;
}
#filtrex-control-inner {
  width: 80%;
}
.filtrex-ctrl-anchor {
  margin-left: 15px;
}
#filtrex-usage-anchor {
  margin-left: 15px;
}
#filterable-names-anchor {
  margin-left: 15px;
}
#filtrex-control-input {
  width: 60%;
  clear: both;
  float: none;
  border-radius: 5px;
}
#do-filt-btn {
  margin: 4px;
  margin-bottom: 7px;
}
.ambiguity-plot-container {
  width: 100%;
}
.ambiguity-peptide-sequences-container {
  margin: 25px;
  border: lightgrey 1px solid;
  border-radius: 3px;
}
.ambiguity-peptide-sequences-container .glycopeptide-identifier {
  max-width: 600px;
}
.ambiguity-peptide-attributes {
  width: 50%;
  padding: 5px;
  text-align: center;
}
.ambiguity-peptide-attributes p {
  font-weight: 900;
}
.custom-fn-menu * {
  margin: 15px;
}
.plot-grouping-fn-selector-container {
  margin-left: 10px;
}
.plot-grouping-fn-selector-container.custom-fn-menu {
  margin-left: 20px;
}
.plot-grouping-fn-selector-container select {
  margin: 15px;
  padding: 5px;
  border: 1px grey solid;
  border-radius: 5px;
}
.ambiguity-peptide-sequences-table th,
.ambiguity-peptide-sequences-table td {
  text-align: center;
}
.protein-sequence-view-container {
  margin-left: 2%;
}
#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid #111;
  background-color: #eee;
  padding: 5px;
  opacity: 0.85;
}
#tooltip h3,
#tooltip div {
  margin: 0;
}
/*Modal Styles*/
.modal {
  display: block;
}
.modal-body:before,
.modal-body:after {
  display: table;
  content: " ";
}
.modal-header:before,
.modal-header:after {
  display: table;
  content: " ";
}
table.glycan-composition-frequency-table {
  text-align: center;
}
table.glycan-composition-frequency-table td,
table.glycan-composition-frequency-table th {
  text-align: center;
  font-size: 11px;
}
table.glycan-composition-frequency-table tr td:first-child {
  font-weight: 900;
}
div.plot-modal .modal-content {
  overflow: auto;
  height: 80%;
}
.help-content {
  padding: 3px;
}
.help-content h5 {
  font-weight: 900;
}
.help-content section {
  margin: 15px;
}
